
#button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6rem;
    align-content: center;
    width: 100vw;
    font-size: large;
}

.main-columns {
    /* width: 300px; */
    margin: 5rem;
}

#column1 {
    margin-right: 3rem;
}

#column2 {
    margin-left: 3rem;
}

